In [4]:
s = {10,20,30,40,50}
print(type(s))

<class 'set'>

In [5]:
#You can store only Hashable values inside set
print(hash("Hello"))

1629974974457816794

In [7]:
s = {10,"hello",(1,2,3),12.5,True,print()}

In [8]:
#you cannot have duplicate values
s = {10,10,10,20,20,20,30,30,30}
print(s)

{10, 20, 30}

In [9]:
# #unordered nature
s = {10,40,50,20,60,80}
print(s[0])

TypeError: 'set' object is not subscriptable

In [11]:
a = [12,12,12,34,34,6,7,7,8,0,7,4,3,2]
s = set(a)
print(s)

{0, 34, 3, 4, 2, 6, 7, 8, 12}

In [13]:
#traversing on the set

s = {12,34,56,12,12,78,23}

for i in s:
  print(i)

s1 = {10,20,30,40}
s2 = {30,40,50,60}

print(s1 | s2)

34
23
56
12
78
{40, 10, 50, 20, 60, 30}