In [10]:
#LIST
#Lists are mutable
my_list =[1,2,"Nik","Marihal",3]
print(my_list[-3:])

['Nik', 'Marihal', 3]

In [11]:
my_list =[1,2,"Nik","Marihal",3,4,5,6]
print(my_list[::2])

[1, 'Nik', 3, 5]

In [12]:
my_list.append("Hero")
print(my_list)

[1, 2, 'Nik', 'Marihal', 3, 4, 5, 6, 'Hero']

In [13]:
my_list =[1,2,3,4,5,6]
for i in reversed(my_list):
    print(i)

6
5
4
3
2
1

In [14]:
new_list = [i*i for i in my_list if (i%2)== 0 if (i != 6)]
print(new_list)

[4, 16]