In [14]:
my_list = ["orders","products","customers"]
for i in my_list:
  print(i)

orders
products
customers

In [15]:
tbl_list = ["orders","products","customers"]
for i in tbl_list:
  if(i.lower()=="orders"):
    print("Table order")
  else:
    print("Table not order")

Table order
Table not order
Table not order

In [16]:
tbl_list = ["products","orders","customers"]
for i in tbl_list:
  if(i.lower()=="orders"):
    break
    print(i)

In [17]:
tbl_list = ["products","orders","customers"]
for i in tbl_list:
  if(i.lower()=="orders"):
    continue
    print(i)

In [18]:
x = 1
while(x<11):
  print(x)
  x+=1

1
2
3
4
5
6
7
8
9
10

In [19]:
x = 1
while(1==1):
  print("Hello")
  x = x + 1
  if(x>10):
    break

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello